* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
  font-size: 13px;
}

#inner-container {
  padding: 100px;
}

#title {
  padding-bottom: 50px;
}

ul {
  padding-left: 20px;
}

li {
  font-size: 20px;
}

#board {
  border: 2px solid #000000;
}

table {
  border-spacing: 2px;
  border-collapse: collapse;
}

tbody {
  vertical-align: middle;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

td.board-cell {
  width: 22px;
  height: 21px;
  line-height: 19px;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  border: 1px solid #8f8f8f;
}

#emtpy-area {
  background: #8f8f8f;
}

.colored {
  background: #000000;
}

.non-clue {
  background: #dadada;
}

.clue {
  background: #d0d0d0;
}

#log {
  margin-top: 20px;
  border: 1px solid #000000;
  width: 450px;
}
